*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
  background-color: black;
}

.content {
  display: inline-block;
}

.arrow-left {
  margin-top: 2%;
}

.arrow {
  float:right;
  margin-top: 2%;
}

.location {
  padding: 5%;
  background-color: #DFDEE0;
  border-bottom: 1px solid #A09FA0;
}

.location:hover {
  background-color: #B4B2B4; /* mouse over */
  }

nav {
  margin: 0 auto;
  position: fixed;
  width: 420px;
  padding: 10px 0 15px 15px;
}

.restaurant-list {
  padding-top: 50px;
}

.restaurant-list h1 {
  font-size: 1.8em;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.restaurant-list h3 {
  font-size: 1.4em;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-top: 3%;
}
